<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353002107934-unaepelbkffud3514dd8cugkjfbp4puf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353002107934-unaepelbkffud3514dd8cugkjfbp4puf</string>
	<key>API_KEY</key>
	<string>AIzaSyA9S8d88tQ2BCmT5MCkUnIXu-Inw8FQeqI</string>
	<key>GCM_SENDER_ID</key>
	<string>353002107934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6fbfd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6fbfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353002107934:ios:957eafec2b242b42adea0f</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-6fbfd-default-rtdb.firebaseio.com</string>
</dict>
</plist>